<main class="main">
  <div class="container">
    <h1>Bem vindo ao Lily!</h1>
    <section class="containerCadastro">
      <ion-item class="form-item"
        ><ion-icon name="person-outline" color="black"></ion-icon
        ><ion-input
          type="text"
          class="form-input"
          label="Nome Completo:"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
      <ion-item class="form-item"
        ><ion-icon name="person-outline" color="black"></ion-icon
        ><ion-input
          type="username"
          class="form-input"
          label="Nome de usuário:"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
      <ion-item class="form-item"
        ><ion-icon name="mail-outline" color="black"></ion-icon
        ><ion-input
          type="email"
          class="form-input"
          label="Email:"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
      <ion-item class="form-item"
        ><ion-icon name="key-outline" color="black"></ion-icon
        ><ion-input
          type="password"
          class="form-input"
          label="Senha"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
      <ion-item class="form-item"
        ><ion-icon name="key-outline" color="black"></ion-icon
        ><ion-input
          type="password"
          class="form-input"
          label="Confirmar senha:"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
      <ion-item class="form-item"
        ><ion-icon name="call-outline" color="black"></ion-icon
        ><ion-input
          type="tel"
          class="form-input"
          label="Telefone:"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
      <ion-item class="form-item"
        ><ion-icon name="calendar-outline" color="black"></ion-icon
        ><ion-input
          type="date"
          class="form-input"
          label="Data Nascimento:"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
        <span><ion-label>Aceito os <a>termos</a> de uso</ion-label><ion-checkbox class="form-checkbox"></ion-checkbox></span>
      <ion-button expand="block">Cadastrar</ion-button>
    </section>
  </div>
</main>
