<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title> Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a [routerLink]="['/perfil']">Editar Perfil</a><br>
    <a [routerLink]="['/sobre']">Sobre nós</a>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle><ion-icon size="large" name="person-circle-outline"></ion-icon></ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <section class="mainContainer">
      <div class="publicar">
        <div class="imgProfile"><ion-icon name="person-circle-outline"></ion-icon> <p>{{usuario.username}}</p></div>
        <ion-input label="Título publicação" labelPlacement="stacked" type="text" [(ngModel)]="publicacao.titulo"></ion-input>
        <textarea [(ngModel)]="publicacao.texto"></textarea>
        <ion-icon name="send" (click)="createPublicacao()"></ion-icon>
      </div>
      <div class="publicacoes">
        <div class="publicacao" *ngFor="let publi of publicacoesV" (click)="abrirPublicacao(publi)">
          <h2>{{publi.nomeUsuario}} - {{publi.tipoUsuario}}</h2>
          <h3>{{publi.titulo}} - {{publi.dataPostagem}}</h3>
          <pre>{{publi.texto}}</pre>
        </div>
      </div>
    </section>
  </ion-content>
</div>
