<main class="main">
  <div class="container">
    <h1>Bem vindo de volta!</h1>
    <section class="containerLogin">
      <ion-item class="form-item"
        ><ion-icon name="person-outline" color="black"></ion-icon
        ><ion-input
          type="username"
          class="form-input"
          label="Nome:"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
      <ion-item class="form-item"
        ><ion-icon name="key-outline" color="black"></ion-icon
        ><ion-input
          type="password"
          class="form-input"
          label="Senha"
          labelPlacement="floating"
        ></ion-input
      ></ion-item>
      <ion-button expand="block">Login</ion-button>
    </section>
    <p>Ainda não possui uma conta?</p>
    <a [routerLink]="['/cadastro']">Se inscreva!</a>
  </div>
</main>
