<main class="main">
  <img src="../../assets/imgs/login1.jpg"/>
  <div class="container">
    <img src="../../assets/imgs/logo5.svg" class="logo"/>
    <h1 class="h1">Olá, <br> Bem vindo de volta!</h1>
    <section class="containerLogin">
      <ion-item class="form-item"
        ><ion-icon name="person-outline" color="grey"></ion-icon
        ><ion-input
          type="username"
          class="form-input"
          label="Nome"
          labelPlacement="floating"
          [(ngModel)]="username"
        ></ion-input
      ></ion-item>
      <ion-item class="form-item"
        ><ion-icon name="key-outline" color="grey"></ion-icon
        ><ion-input
          type="password"
          class="form-input"
          label="Senha"
          labelPlacement="floating"
          [(ngModel)]="senha"
        ></ion-input
      ></ion-item>
      <ion-button expand="block" (click)="login()">Login</ion-button>
    </section>
    <p>Ainda não possui uma conta?</p>
    <a [routerLink]="['/cadastro']">Se inscreva!</a>
  </div>
</main>
