<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons>
    <ion-title>{{artigo.palavraChave}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="artigo">
    <h3>{{artigo.titulo}}</h3>
    <pre>{{artigo.texto}}</pre>
    <div class="topicos" *ngFor="let topico of topicos">
      <h3>{{topico.titulo}}</h3>
      <pre>{{topico.texto}}</pre>
    </div>
  </section>
</ion-content>
