<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title> Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a [routerLink]="['/perfil']">Editar Perfil</a><br>
    <a [routerLink]="['/sobre']">Sobre nós</a>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle><ion-icon size="large" name="person-circle-outline"></ion-icon></ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content> 
    <section class="mainContainer" *ngIf="!calendario.idCalendario">
      <div class="faseCirculo">Calendário não encontrado</div>
      <h3>Crie seu calendario menstrual e receba informações sobre seu dia em base no seu ciclo</h3>
    </section>
  <section class="mainContainer" *ngIf="calendario.idCalendario">
    <div class="faseCirculo {{fase}}"><span>{{faseVisivel}}</span></div>
    <div class="informações">
      <ion-chip color="{{chipColor}}"><span><ion-icon src="../../assets/icons/{{proximaFase}}.svg"></ion-icon></span>{{diasRestantes}} dias</ion-chip>
    </div>
    <div class="eventosContainer">
      <h3>Próximos eventos</h3>
    </div>
  </section>  
  </ion-content>
</div>