.calendario_section{
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    background-color: #f2f2f2;
    color: black;
    align-items: center;
    justify-content: center;
}
.funcoes{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    margin: 1vh;
    gap: 3vh;
}
.calendario{
    display: flex;
    width: 95vw;
    flex-direction: column;
    margin: 1vw;
}
.calendario_header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.calendario_info{
    display: flex;
    width: 100%;
    padding: 1vw;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.calendario_info span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendario_weekdays{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.weekday{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    margin: 0.5vw;
}
.calendario_body{
    display: flex;
    width: 100%;
    padding: 0.3vw;
    height: fit-content;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.day{
    display: flex;
    width: 5vh;
    height: 5vh;
    margin: 0.5vw;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    color: black;
}
.hoje{
    background-color: purple;
}
.nullday{
    display: flex;
    margin: 0.5vw;
    width: 5vh;
    height: 5vh;
}
.legenda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1vh;
}
.itemLegenda{
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: center;
}
.itemLegenda div{
    display: flex;
    width: 3vh;
    height: 3vh;
    border: 1px solid black;
    border-radius: 50%;
}
.menstrual{
    background-color: red;
}
.folicular{
    background-color: greenyellow;
}
.ovulacao{
    background-color: yellow;
}
.lutea{
    background-color: white;
}

.disabled{
    display: none;
}