<ion-menu menuId="menuDiaPrincipal" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title> Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <a [routerLink]="['/perfil']">Editar Perfil</a><br />
    <a [routerLink]="['/sobre']">Sobre nós</a>
  </ion-content>
</ion-menu>

<ion-menu side="end" menuId="menuDia" contentId="main-content">
  <ion-header>
    <ion-toolbar class="menuDiaHeader">
      {{diaVClicado.dataZ}} - {{diaVClicado.fase}}
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <section class="menuDiaBody">
      <section class="emocional">
        <h3>Como você está se sentindo?</h3>
        <div class="emocional_body">
        <div><ion-icon (click)="definirEmocional('Ótimo')" color="{{diaClicado.emocional=== 'Ótimo' ? 'success' : 'black'}}" size="large" src="../../assets/icons/face-smile-beam-regular.svg"></ion-icon><span>Ótimo</span></div>
        <div><ion-icon (click)="definirEmocional('Bem')" color="{{diaClicado.emocional=== 'Bem' ? 'success' : 'black'}}"size="large" src="../../assets/icons/face-smile-regular.svg"></ion-icon><span>Bem</span></div>
        <div><ion-icon (click)="definirEmocional('Neutro')" color="{{diaClicado.emocional=== 'Neutro' ? 'success' : 'black'}}" size="large" src="../../assets/icons/face-meh-regular.svg"></ion-icon><span>Neutro</span></div>
        <div><ion-icon (click)="definirEmocional('Mal')" color="{{diaClicado.emocional=== 'Mal' ? 'success' : 'black'}}"size="large" src="../../assets/icons/face-frown-regular.svg"></ion-icon><span>Ruim</span></div>
        <div><ion-icon (click)="definirEmocional('Triste')" color="{{diaClicado.emocional=== 'Triste' ? 'success' : 'black'}}" size="large" src="../../assets/icons/face-sad-tear-regular.svg"></ion-icon><span>Triste</span></div>
        </div>
      </section>
      <section>
        <div class="sintomas">
          <h3>Sintomas Emocionais</h3>
          <div class="sintomas_body" *ngIf="sintomasEmocionais.length>0">
            <div class="sintoma" *ngFor="let sintomaEmocional of sintomasEmocionais" [ngStyle]="{'background-color': getDiaSintoma(sintomaEmocional) ? 'green' : 'white'}" (click)="definirDiaSintoma(sintomaEmocional)"><span class="emoji">{{makeEmoji(sintomaEmocional.emoji)}}</span><span class="emojiNome">{{sintomaEmocional.nome}}</span></div>
          </div>
        </div>
        <div class="sintomas">
          <h3>Sintomas físicos</h3>
          <div class="sintomas_body" *ngIf="sintomasFisicos.length>0">
            <div class="sintoma" *ngFor="let sintomaFisico of sintomasFisicos" [ngStyle]="{'background-color': getDiaSintoma(sintomaFisico) ? 'green' : 'white'}" (click)="definirDiaSintoma(sintomaFisico)"><span class="emoji">{{makeEmoji(sintomaFisico.emoji)}}</span><span class="emojiNome">{{sintomaFisico.nome}}</span></div>
          </div>
        </div>
      </section>
      <section class="anotacoes">
        <h3>Faça qualquer anotação extra aqui</h3>
        <textarea [(ngModel)]="diaClicado.anotacao"></textarea>
      </section>
      <ion-button (click)="salvarDia()" expand="block">Salvar</ion-button>
    </section>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle
          ><ion-icon size="large" name="person-circle-outline"></ion-icon
        ></ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <section class="calendario_section">
      <div class="funcoes">
        <ion-icon name="calendar-clear-outline" size="large" (click)="showCalendarAlert()"></ion-icon>
        <ion-icon name="information-circle-outline" size="large"></ion-icon>
        <ion-icon name="help-circle-outline" size="large" (click)="showHelpAlert()"></ion-icon>
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
      </div>
      <div class="calendario">
        <div class="calendario_header">
          <div class="calendario_info">
            <span>{{anoAtual}}</span>
            <span>{{meses[mesAtual]}}</span>
            <span>
              <ion-icon
                size="large"
                name="chevron-back-outline"
                (click)="voltarMes()"
              ></ion-icon>
              <ion-icon
                size="large"
                name="chevron-forward-outline"
                (click)="avancarMes()"
              ></ion-icon>
            </span>
          </div>
          <div class="calendario_weekdays">
            <span class="weekday">DOM</span>
            <span class="weekday">SEG</span>
            <span class="weekday">TER</span>
            <span class="weekday">QUA</span>
            <span class="weekday">QUI</span>
            <span class="weekday">SEX</span>
            <span class="weekday">SAB</span>
          </div>
        </div>
        <div class="calendario_body">
          <div *ngFor="let diaV of diaVs" class="{{diaV.classe}}" (click)="abrirMenuDia(diaV)">
            <span>{{diaV.numero}}</span>
          </div>
        </div>
      </div>

      <div class="legenda">
        <div class="itemLegenda">
          <div class="menstrual"></div>
          <span>Fase Menstrual</span>
        </div>
        <div class="itemLegenda">
          <div class="folicular"></div>
          <span>Fase Folicular</span>
        </div>
        <div class="itemLegenda">
          <div class="ovulacao"></div>
          <span>Fase Ovulatória</span>
        </div>
        <div class="itemLegenda">
          <div class="lutea"></div>
          <span>Fase Lútea</span>
        </div>
      </div>
    </section>
  </ion-content>
</div>
