html {
  --primary_color: #c99afb;
  --secondary_color: #9f99fd;
  --terciary_color: #55209e;
  --quaternary_color: #978897;
  --quintenary_color: #9bc995;
  --sextenary_color: #e4b9fc;
}

.calendario_section {
  display: flex;
  width: 100vw;
  height: 100%;
  flex-direction: column;
  background-color: #f2f2f2;
  color: black;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.calendario {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}

.calendario_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  background-color: #a24be7;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.funcoes {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 400px;
  margin-bottom: 1rem;
}

.funcoes ion-icon {
  font-size: 1.5rem;
  color: #5f6368;
  cursor: pointer;
  transition: transform 0.2s;
}

.funcoes ion-icon:hover {
  transform: scale(1.2);
}

.calendario_weekdays {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  background-color: #f2f2f2;
  color: #555;
  font-weight: 600;
}

.weekday {
  text-align: center;
  width: 14%;
}

.calendario_body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
  padding: 0.7rem;
  background-color: #fff;
}

.day {
  display: flex;
  width: 10vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.day:hover {
  background-color: #a24be7;
  color: white;
}

.menstrual {
  background-color: rgba(236, 113, 113, 0.3);
}

.folicular {
  background-color: rgba(113, 236, 113, 0.3);
}

.ovulacao {
  background-color: rgba(234, 236, 113, 0.3);
}

.hoje {
  background-color: #a24be7;
  color: white;
}

.nullday {
  visibility: hidden;
}

.legenda {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  text-align: center;
  margin-top: 20px;
}

.itemLegenda {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemLegenda div {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}



// css do dia tal 

ion-menu {
  --width: 370px;
  --max-width: 100%;
  outline: none;
}

.menuDiaHeader {
  --background: #a24be7;
  font-size: 1.2rem;
  width: 100%;
  height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

}

.menuDiaBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  gap: 1.8vh;
  
}

.emocional {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}

.emocional_body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5vh;
  flex-direction: row;
}

.emocional_body div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sintomas {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sintomas_body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1vh;

}

.sintoma {
  display: flex;
  flex-direction: column;
  width: 9vh;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 0.3vh;
  border-radius: 10px;
  padding: 6px;
}
.emoji {
  font-size: 1.2rem;
}
.sintoma:hover {
  border-radius: 10px;
}
.h3 {
  color: #555;
  font-weight: bold;
}

.anotacoes {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

textarea {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  height: 12vh;
  outline: none;
  padding: 0.5vw;

}

ion-button {
  --background: #a24be7;
  --color: white;
}

.disabled {
  display: none;
}

.alert-wrapper .classesuperespecifica {
  --background: white;
  color: black;
}
