.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    min-height: 80vh;
    background-color: white;
    color: black;
}
.pesquisar{
   display: flex;
   width: 100%;
   justify-content: center;
   margin-top: 5vw; 
}
.artigos{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    justify-content: center;
    width: 100%;
    gap: 1vh;
}
.artigo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
}
.artigo pre{
    display: flex;
    text-wrap: wrap;
    text-align: justify;
}
ion-item{
    --background: plum;
    --border-style: none;
    --border-width: 0;
    --border-radius: 20px;
}
ion-chip{
    width: fit-content;
    height: auto;
}